@font-face {
    font-family: 'goldmanbold';
    src: url('./assets/fonts/goldman-bold.woff2') format('woff2'),
         url('./assets/fonts/goldman-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('./assets/fonts/montserrat.woff2') format('woff2'),
            url('./assets/fonts/montserrat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bilboswash';
    src: url('./assets/fonts/bilboswashcaps.woff2') format('woff2'),
         url('./assets/fonts/bilboswashcaps.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url('./assets/images/bg.jpg');
    background-position: center;
    background-size: cover;
    margin: 0;
}

nav {
    background-color: rgba(32, 82, 149, 0.85);
    margin-bottom: 16px;
    height: 48px;
    display: flex;
    align-items: center;

    a {
        font-family: goldmanbold, sans-serif;
        font-size: 1.3rem;
        color: white;
        text-decoration: none;
        transition-duration: 0.5s;
        text-transform: uppercase;

        &:hover {
            transform: scale(1.05);
        }
    }

    .nav-options {
        display: flex;
        gap: 24px;
        margin: 0 auto;
    }
}

#content {
    padding-bottom: 16px;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
}

p {
    color: white;
}

h1, h2, h3 {
    font-family: goldmanbold, sans-serif;
    color: rgb(10, 38, 71);
}

.logo {
    flex: auto;
    box-sizing: border-box;
    width: 164px;
    height: 164px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: inset 2px 2px 2px 4px rgba(255, 255, 255, 0.1);

    h1 {
        font-size: 1.4rem;
        color: white;
        font-family: bilboswash;
    }

    img {
        width: 64px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 66%;
    margin: 0 auto;
    gap: 8px;
    border-radius: 16px;
    background-color: rgba(44, 116, 179, 0.8);
    padding: 16px 0;
}

.info-wrapper {
    width: 50%;
    padding: 16px;

    > p {
        margin-top: 8px;
        padding-left: 16px;
    }
}

@media (max-width: 700px) {
    .main {
        max-width: 95%;
    }
}
